<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      Sources - Web3 Explained and Examined
    </title>
    <meta charset="utf-8">


    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css"  crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

  </head>
  <body class="has-background-grey-darker is-family-monospace">

      <!-- Page Title -->
        <div class="block">
            <section class="hero is-fullheight">
              <div class="hero-body">

                  <div class="tile is-ancestor">
                      <div class="tile is-parent">
                        <div class="tile is-child box">
                            <div class="content is-medium">
                                <p class="title has-text-centered">Sources used</p>
                                <ul>
                                    <li>Aghaei, Sareh. “Evolution of the World Wide Web : From Web 1.0 to Web 4.0.” International Journal of Web &amp; Semantic Technology, vol. 3, no. 1, 2012, pp. 1–10., https://doi.org/10.5121/ijwest.2012.3101. </li>
                                    <li>Svantes, Fredrik. “Introduction to DApps.” Ethereum Foundation, 12 Jan. 2022, https://ethereum.org/en/developers/docs/dapps/. Accessed 14 Mar. 2022.  </li>
                                    <li>Richards, Sam. “Web2 Vs Web3.” Ethereum Foundation, 11 Dec. 2021, https://ethereum.org/en/developers/docs/web2-vs-web3/. Accessed 14 Mar. 2022. </li>
                                    <li>Kasireddy, Preethi. “The Architecture of a Web 3.0 Application.” 22 Sept. 2021, https://www.preethikasireddy.com/post/the-architecture-of-a-web-3-0-application. </li>
                                    <li>Marlinspike, Moxie. “My First Impressions of Web3.” 7 Jan. 2022, https://moxie.org/2022/01/07/web3-first-impressions.html. </li>
                                    <li>Gao, ZeMing M. “Web3, NFTs and DeFi Are a Sham without a Blockchain Scalable at L1.” 25 Jan. 2022, https://zemgao.com/web3-nfts-and-defi-are-a-sham-without-a-blockchain-scalable-at-l1/. </li>
                                    <li>O'Reilly, Tim. “Why It’s Too Early to Get Excited about Web3.” O'Reilly, 13 Dec. 2021, https://www.oreilly.com/radar/why-its-too-early-to-get-excited-about-web3/. </li>
                                    <li>Mak, Aaron. “What Is Web3 and Why Are All the Crypto People Suddenly Talking About It?” Slate, 9 Nov. 2021, https://slate.com/technology/2021/11/web3-explained-crypto-nfts-bored-apes.html. </li>
                                    <li>Kafka, Peter. “Web3 Is the Future, or a Scam, or Both.” Vox Recode, 1 Feb. 2022, https://www.vox.com/recode/22907072/web3-crypto-nft-bitcoin-metaverse. </li>
                                    <li>Khun, Eric. “NFT Misconception: JPEG Aren't on the Blockchain.” 31 Oct. 2021, https://erickhun.com/posts/nft-misconception-image-arent-on-blockchains/. </li>
                                    <li>Mims, Christopher, director. Why Some See Web 3.0 as the Future of the Internet. Wall Street Journal, 15 Feb. 2022, https://youtu.be/OEJGQD1OuKA. </li>
                                </ul>
                            </div>
                        </div>
                      </div>

                    </div>
                  </div>


            </section>

        </div>

  </body>
</html>